/* Custom page footer */

body {
padding-top: 100px;
text-align: center;
padding-left: 10px;
padding-right: 10px;
}

footer {
    color: white;
    padding-top: 1px;
    border: 3px solid #e5e5e5;
}

.gradient_footer {
	background: linear-gradient(#000099, #0099FF); /* Standard syntax */
	background: -webkit-linear-gradient(#000099, #0099FF); /* Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#000099, #0099FF); /* Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000099, #0099FF); /* Firefox 3.6 to 15 */
}
