<!-- FRONT PAGE DICTYBASE --> <link rel="stylesheet" href="styles/mainFrontpage.6f0a89a4.css"> <div class="frontpage"> <div class="container"> <div class="row"> <div class="col-sm-6 col-xs-12"> <!-- COLUMN OF THE IMAGE --> <div class="row imageSpace"> <h3>dicty IMAGE</h3> </div> <div class="row paperSpace borderIt"> <h3>PAPERS</h3> </div> </div> <!-- COLUMN OF THE IMAGE --> <div class="col-sm-6 col-xs-12"> <!-- COLUMN OF THE NEWS --> <div class="row newsSpace borderIt"> <!-- NEWS --> <h3>NEWS</h3> </div> <!-- NEWS --> <div class="row"> <!-- DYNAMIC OPTIONS --> <div class="col-sm-6 col-xs-12 widgetSpace borderIt"> <!-- WIDGETS --> <h3>WIDGETS</h3> </div> <!-- WIDGETS --> <div class="col-sm-6 col-xs-12 variableSpace borderIt"> <!-- VARIABLE SPACE --> <div class="row"> <h3><span>SHORTCUTS</span></h3> <br> </div> <!-- 						<div class="row">
							<h3>dictyAccess</h3>
							<br/>
						</div>
						<div class="row">
							<h3>CONFERENCES</h3>
							<br/>
						</div> --> </div><!-- VARIABLE SPACE --> </div><!-- DYNAMIC OPTIONS --> </div> <!-- COLUMN OF THE NEWS --> </div> </div> </div>