<!-- dicty-footer.html -->
<!-- ANGULAR -->
<footer class="gradient_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-xs-12">
                    <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="menu in sections.menus">
                        <span class="footmenus"> {{menu.main}} </span>
                        <dt ng-repeat="(submenu, link) in menu.submain"><a href="{{link}}" class="footLinks"> {{submenu}}</a></dt>
                    </div>
                </div>

		<!-- DYNAMIC PART ENDS -->

                <div class="col-md-2">
                  <div class="row">
                        <dt class="footMenuSupport"> Please CITE: </dt>
                        <dt class= "listMenus"><a href="http://www.ncbi.nlm.nih.gov/pubmed/23172289" class="footLinks">dictyBase</a></dt>
                        <dt class= "listMenus"><a href="http://www.ncbi.nlm.nih.gov/pubmed/23494302" class="footLinks">Dicty Stock Center</a></dt>
                    </div>
                    <div class="row">
                        <dt class="footMenuSupport"> Supported by </dt>
                        <dt class= "listMenus"><a href="#" class="footLinks"> NIH </a></dt>
                        <dt class= "listMenus"><a href="#" class="footLinks"> GMOD </a></dt>
                        <dt class= "listMenus"><a href="#" class="footLinks"> Gene Ontology </a></dt>
                    </div>
                </div>

            </div> <!-- Row of main menus -->

        </div> <!-- <div class="container"> -->
            
    <!-- </div> <div class="footer"> -->
</footer>