/*TEMPORAL STYLE (to delete eventually)*/
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.contact {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.technical {
	padding-left: 100px;
	padding-bottom: 50px;
}

@media (max-width: 767px) {
	.technical {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 5px;
	}
}