<!-- dicty-footer.html -->
<!-- ANGULAR -->
<link rel="stylesheet" href="scripts/dictyHFdirective/dictyHF.css">
<div class="dictyFooter">
        <div class="container">
            <div class="row">

                <!-- DYNAMIC ZONE STARTS -->
                <div class="col-sm-10 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 footPadding" ng-repeat="menu in sections.menus">
                        <div class="footMenus"> {{menu.main}} </div>
                        <div class="footLinks" ng-repeat="(submenu, link) in menu.submain"><a href="{{link}}">{{submenu}}</a></div>
                    </div>
                </div>

                <!-- DYNAMIC PART ENDS -->
                <div class="col-sm-2 col-xs-12">
                    <div class="footMenuSupport"> Please CITE: </div>
                        <div class="footLinks"><a href="http://www.ncbi.nlm.nih.gov/pubmed/23172289">dictyBase</a></div>
                        <div class="footLinks"><a href="http://www.ncbi.nlm.nih.gov/pubmed/23494302">Stock Center</a></div>
                    
                    <div>
                        <div class="footMenuSupport"> Supported by </div>
                        <div class="footLinks"><a href="#"> NIH </a></div>
                        <div class="footLinks"><a href="#"> GMOD </a></div>
                        <div class="footLinks"><a href="#"> Gene Ontology </a></div>
                    </div>
                </div>

            </div> <!-- Row of main menus -->

        </div> <!-- <div class="container"> -->
            
    <!-- </div> <div class="footer"> -->
</footer>