/* app css stylesheet */

.dictyHeader {
    min-width: 320px;
    text-align: center;
    padding-bottom: 10px;
}

.dictyHeader > .container {
    max-width: 1000px;
}

.dictyHeader > .menuContainer > .container {
    max-width: 1000px;
    padding-left: 0px;
}

/*HEADER details*/

.firstHeaderRow {
    background-color: white;
    /*border-style: solid;*/
    /*border-color: grey;*/
}

.logoSpace {
/*    border-style: solid;
    border-color: #00CCFF;*/
    vertical-align: bottom;
}

.cologoSpace {
/*    border-style: solid;
    border-color: red;*/
    text-align: right;
    height: 93;
}

.linksSpace {
/*    border-style: solid;
    border-color: green;*/
    padding-top: 10px;
    padding-bottom: 5px;
}

/*SEARCH BOXES*/
.searchBoxSpace {
/*    border-style: solid;
    border-color: green;    */
}
.searchGeneSpace {
    font-size: 10px;
}

.searchGuidedSpace {
    font-size: 10px;
}

.searchNavbarDicty {
    border-style: none;
    margin:0px;
    font-size: 10px;
}

.textboxclass {
    height: 22px;
    width: 80px;
}

.form-control-dicty {
    font-size: 11px;
}



/*HEADER NAVIGATION BAR CUSTOMIZED*/

.menuContainer {
    background-color: #15317E;
    opacity: 0.9;
    z-index: 10;
}

/*Fix the navigation bar when scrolling down*/
/*First version*/
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    min-height:50px;
}


/*CUSTOMIZE DEFAULT PARAMETERS*/
/* navbar */
.navbar-default {
    background-color: #15317E;
    opacity: 0.9;
    border-style: none;
    margin:0px;
}   
/* title */
.navbar-default .navbar-brand {
    color: fuchsia;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: pink;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CCFFCC;
}
/* I don't know what is this for */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: yellow;
    background-color: yellow;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #333399;
    background-color: white;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: fuchsia;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #CCFFCC;
    border-bottom-color: red;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/*DROPDOWN MENU*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
    text-align: left;
    font-size: 18px;
    padding-top: 10px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
    background-color: #000099;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: orange;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

@media(max-width:992px){
    /*The font-size of the navigation menu in tablets has to be small to be in the same line*/
    .navbar-default .navbar-nav > li > a {
        color: white;
        font-size: 18px;
        padding-right: 2px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #CCFFCC;
        text-align: right;
        font-size: 16px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: orange;
    }
    /*FONT SIZE FOR THE NAVIGATION BIGGER LARGER FOR BETTER READ*/
    .navbar-default .navbar-nav > li > a {
        color: white;
        font-size: 20px;
    }
}


/*FOOTER DETAILS*/ 
.dictyFooter {
    min-width:320px;
    padding-bottom: 20px;

    /*BACKGROUND COLOR*/
    background: #000099;
    background: linear-gradient(#000099, #0099FF); /* Standard syntax */
    background: -webkit-linear-gradient(#000099, #0099FF); /*Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000099, #0099FF);  /*Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000099, #0099FF);  /*Firefox 3.6 to 15 */
}

.dictyFooter > .container {
    max-width: 1000px;
}

.dictyFooter > .col-xs-12 > .footMenuSupport {
    text-align: left;
}

.footPadding {
    padding-right: 0px;
}

.footMenus {
    font: 14px helvetica,arial,sans-serif;
    color: #CCFFCC;
    padding-bottom: 1px;
    padding-top: 10px;
    text-align: left;
}

.footMenuSupport {
    font: 14px arial,sans-serif;
    color: yellow;
    padding-top: 25px;
    text-align: left;
}

.footLinks {
    font: 11px arial, sans-serif;
    color: #D8D8D8;
    padding-top: 8px;
}


/*Footer Rollover effects*/
a:link { color: #D8D8D8; text-decoration: none }
a:active { color: #D8D8D8; text-decoration: none }
a:visited { color: #D8D8D8; text-decoration: none }
a:hover { color: white; text-decoration: underline;}


/* Responsive: define what to do on every screen size */
@media(min-width:1200px){

}

@media(max-width:767px){

    .logoSpace {
        padding-top: 10px;
        /*Same space from the top on mobile devices*/
    }
    .linksSpace {
        text-align: center;
    }
    .footLinks {
        font: 12px arial, sans-serif;
        color: #D8D8D8;
        padding-top: 8px;
        text-align: center;
    }
    .footMenus {
        font: 16px helvetica,arial,sans-serif;
        color: #CCFFCC;
        padding-bottom: 1px;
        padding-top: 30px;
        text-align: center;
    }

    .footMenuSupport {
        font: 16px arial,sans-serif;
        color: yellow;
        padding-top: 25px;
        text-align: center;
    }

    .navbar-toggle {
        float: none;
        margin-right: 0;
    }
}


/*TESTING TEXT. TO DELETE EVENTUALLY*/ 

/*MAIN BODY*/

.theCenter {
/*    border: 10px;
    border: 10px solid black;*/
    overflow: scroll;
}
.panelBlack {
    height: 300px;
    background-color: #0041C2;
    color: white;
    border: 10px solid white;
}
.panelBlue {
    height: 300px;
    line-height: 200px;
    background-color: #15317E;
    color: white;
    border: 10px solid white;
    vertical-align: middle;
}
.panelGreen {
    height: 300px;
    background-color: #2B547E;
    color: white;
    border: 10px solid white;
}
.panelShiny {
    height: 300px;
    background-color: #1F45FC;
    color: white;
    border: 10px solid white;
}



/*Colors for screen sizes*/
.cmedium {
    color:green;
}
.csmall {
    color:orange;
}
.cextra {
    color:red;
}
.cimp{
    /*color:#00CCCC;*/
    text-shadow: 0px 0px 5px #FFFF66;
}
